All Jobs for <strong><%= @company.name %></strong><br/><br/>
<ul>
  <% @jobs.each do |job| %>
    <div>
      <li>
        <%=link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %><br/>
        <%= link_to "Edit", edit_company_job_path(@company, job) %>
        <%= link_to "Delete", company_job_path(@company, job), method: :delete %></a><br/><br/>
      </li>
    </div>
  <% end %>
</ul>
